<div id="results" class="modal fade" role="dialog" tab-index="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                <h4 class="modal-title">Search Results</h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="result in main.searchResults | orderBy: 'Title'">
                    <a href ng-click="main.getById(result.imdbID); main.dismissDialog('results');">{{result.Title}} ({{result.Year}})</a>
                    <span class="label label-primary">{{result.Type | uppercase}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
