<div class="col-xs-8">

    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline" role="form" novalidate>
                <div class="form-group">
                    <label class="control-label" ng-show="main.search.type !== 'imdbId'">Movie title:</label>
                    <label class="control-label" ng-show="main.search.type == 'imdbId'">IMDB Movie ID:</label>
                    <input type="text" class="form-control" ng-model="main.search.value"/>
                    <select class="form-control" ng-model="main.search.type">
                        <option value="titleSearch">Title Search</option>
                        <option value="exactTitle">Exact Title</option>
                        <option value="imdbId">IMDB ID</option>
                    </select>

                    <span class="button-group">
                        <button class="btn btn-success" ng-click="main.getMovies(main.search)">GO</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-danger" role="alert" ng-if="main.errorMsg">{{main.errorMsg}}</div>

    <div class="well">
        <div>
            <label class="control-label">Title:</label> {{main.movie.Title}}
        </div>
        <div>
            <label class="control-label">Year:</label> {{main.movie.Year}}
        </div>
        <div>
            <label class="control-label">Director:</label> {{main.movie.Director}}
        </div>
        <div>
            <label class="control-label">Actors:</label> {{main.movie.Actors}}
        </div>
        <div>
            <label class="control-label">Plot:</label> {{main.movie.Plot}}
        </div>
        <img ng-cloak ng-if="main.movie.Poster" class="img-responsive" src="{{main.movie.Poster}}"></img>
    </div>

</div>

<div class="col-xs-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title strong">History</div>
        </div>
        <div class="panel-body">
            <div ng-repeat="previous in main.history track by previous.imdbID">
                <a href ng-click="main.loadFromHistory(previous)">{{previous.Title}} ({{previous.Year}})</a>
            </div>
        </div>
    </div>
</div>

<div id="results" class="modal fade" role="dialog" tab-index="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                <h4 class="modal-title">Search Results</h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="result in main.searchResults | orderBy: 'Title'">
                    <a href ng-click="main.getById(result.imdbID); main.dismissDialog('results');">{{result.Title}} ({{result.Year}})</a>
                    <span class="label label-primary">{{result.Type | uppercase}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div>All data provided by the <a href="http://www.omdbapi.com/">OMDB API</a> by Brian Fritz.</div>
    <div>Licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>.</div>
</div>
