<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-inline" role="form" novalidate>
      <div class="form-group">
        <label class="control-label" ng-show="main.search.type !== 'imdbId'">Movie title:</label>
        <label class="control-label" ng-show="main.search.type == 'imdbId'">IMDB Movie ID:</label>
        <input type="text" class="form-control" ng-model="main.search.value"/>
        <select class="form-control" ng-model="main.search.type">
          <option value="titleSearch">Title Search</option>
          <option value="exactTitle">Exact Title</option>
          <option value="imdbId">IMDB ID</option>
        </select>

        <span class="button-group">
          <button class="btn btn-success" ng-click="main.getMovies(main.search)">GO</button>
        </span>
      </div>
    </form>
  </div>
</div>
